<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>blog.jingyi.h</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0060A644-8EC9-466E-81AB-C691B031F5E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D403BF3-D9BD-46A3-B524-367F1A832B9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14B9D153-63A4-448F-BC78-7ED6EA932DF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D403BF3-D9BD-46A3-B524-367F1A832B9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4180628C-0DCF-4F69-A75C-167C99272421</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAED3A63-FCBE-4B1E-9554-6516E07B42F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>491A1164-6F41-4062-99D9-588B02D9C33F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D403BF3-D9BD-46A3-B524-367F1A832B9B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D403BF3-D9BD-46A3-B524-367F1A832B9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F6A229B-8DE4-4DDF-BE27-0615E98ED087</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAED3A63-FCBE-4B1E-9554-6516E07B42F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0060A644-8EC9-466E-81AB-C691B031F5E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D5D420AF-101D-46FD-88B2-CCE181A27831</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>491A1164-6F41-4062-99D9-588B02D9C33F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>08093595-0D94-434E-84FD-1AC0AFB4E8E0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C99AF33E-079C-49D9-AA11-76717C312E5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>jingyi</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Hypothesis It</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>h</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Hypothesis it</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>14B9D153-63A4-448F-BC78-7ED6EA932DF0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Google Chrome"	set theName to title of active tab of front window	set theLink to URL of active tab of front windowend tellreturn theLink</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0060A644-8EC9-466E-81AB-C691B031F5E1</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://via.hypothes.is/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9F6A229B-8DE4-4DDF-BE27-0615E98ED087</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>6D403BF3-D9BD-46A3-B524-367F1A832B9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string>browser</string>
				<key>hotkey</key>
				<integer>4</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>H</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedApps</key>
				<array>
					<string>com.google.Chrome</string>
					<string>com.apple.Safari</string>
				</array>
				<key>relatedAppsMode</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>4180628C-0DCF-4F69-A75C-167C99272421</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>tell application "Safari"	set link to first item of documents	set theName to name of link	set theLink to URL of linkend tellreturn theLink</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>491A1164-6F41-4062-99D9-588B02D9C33F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.google.Chrome</string>
						<key>outputlabel</key>
						<string>Chrome</string>
						<key>uid</key>
						<string>D5D420AF-101D-46FD-88B2-CCE181A27831</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:browser}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>com.apple.Safari</string>
						<key>outputlabel</key>
						<string>Safari</string>
						<key>uid</key>
						<string>08093595-0D94-434E-84FD-1AC0AFB4E8E0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BAED3A63-FCBE-4B1E-9554-6516E07B42F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:focusedapp} Not Supported</string>
				<key>title</key>
				<string>Hypothesis It</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C99AF33E-079C-49D9-AA11-76717C312E5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>credit

- icon from [Brand Kit : Hypothesis](https://web.hypothes.is/brand/)</string>
	<key>uidata</key>
	<dict>
		<key>0060A644-8EC9-466E-81AB-C691B031F5E1</key>
		<dict>
			<key>note</key>
			<string>Chrome</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>14B9D153-63A4-448F-BC78-7ED6EA932DF0</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>4180628C-0DCF-4F69-A75C-167C99272421</key>
		<dict>
			<key>xpos</key>
			<integer>275</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>491A1164-6F41-4062-99D9-588B02D9C33F</key>
		<dict>
			<key>note</key>
			<string>Safari</string>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>355</integer>
		</dict>
		<key>6D403BF3-D9BD-46A3-B524-367F1A832B9B</key>
		<dict>
			<key>xpos</key>
			<integer>785</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>9F6A229B-8DE4-4DDF-BE27-0615E98ED087</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>BAED3A63-FCBE-4B1E-9554-6516E07B42F3</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>C99AF33E-079C-49D9-AA11-76717C312E5C</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>490</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>browser</key>
		<string>Chrome</string>
	</dict>
	<key>version</key>
	<string>v0.0.1</string>
	<key>webaddress</key>
	<string>jingyi.blog</string>
</dict>
</plist>
